:root {
  font-size: 1rem;

  --font-opens-sans: "Opens Sans", sans-serif;
  --font-baloo: "Baloo 2", sans-serif;
  --font-leckerli: "Leckerli One", cursive;

  /* cursive */
  --font-logo: 400 2.5rem/auto var(--font-leckerli);

  /* Heading */
  --heading-md: 700 1.75rem/auto var(--font-baloo);
  --heading-sm: 700 1.125rem/auto var(--font-baloo);

  /* text */
  --body-md: 500 1rem/auto var(--font-opens-sans);
  --body-sm: 500 .875rem/auto var(--font-opens-sans);
  --body-xs: 500 0.75rem/auto var(--font-opens-sans);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}