button {
  all: unset;
  font-weight: 500;

  color: #fff;
  padding: 0.875rem 1.5rem;
  border-radius: .5rem;
  cursor: pointer;

  &.btn-ticket {
    background: var(--brand-dark);
    display: flex;
    align-items: center;
    gap: 0.875rem;

    margin-left: auto;
  }
}